@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=cyrillic-ext');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
}
@font-face {
    font-family: 'seasideresortnfregular';
    src: url('SEASRN__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.owlygon {
  font-family: 'seasideresortnfregular';
  font-size: 500%;
}
h1 {
  padding-top: 55px;
  margin-top: -55px;
  font-weight: 500 !important;
}
h3, h5 {
  font-weight: 400 !important;
}
.navbar {
  padding: 0;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.padding {
  padding-bottom: 1.1rem;
}
.welcome{
 width: 75%;
 margin: 0 auto;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-telegram {
  color: #289FDB;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #517fa4;
}
.fa-envelope-open {
color:  #bb0000;
}
.fa-etsy {
color:  #F45800;
font-size: 1.2em;
}
.fa-envelope-open:hover, .fa-instagram:hover, .fa-facebook:hover, .fa-telegram:hover {
  color: #505662;
}
.team {border-radius: 20%;
width: 80%;
height: auto;
min-height: 100px;
min-width: 100px;
-o-object-fit: cover;
object-fit: cover;
}
.example {border-radius: 2%;
min-height: 150px;
min-width: 150px;
-o-object-fit: cover;
object-fit: cover;
}
.im {
  border-radius: 3%;
  min-height: 150px;
  min-width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
.display-4 {
  font-size: 200%;
}
.social a {
  font-size: 2.5em;
  padding: 1.2rem;
}
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
.display-4 {
  font-size: 160%;
}
.social a {
  font-size: 2em;
  padding: .7rem;
}
}
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fixed0 {
  background:-webkit-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url('img/background.jpg');
  	background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url('img/background.jpg');
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  padding: 30em 0 10em 0;
  color: #F3F3F4;
}
#fixed1 {
  background-image: url('img/pic1.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
#fixed2 {
  background-image: url('img/pic2.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
#fixed3 {
  background-image: url('img/pic3.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:  cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
#fixed4 {
  background-image: url('img/pic4.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
#fixed5 {
  background-image: url('img/background3.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
#fixed6 {
  background-image: url('img/background2.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
[class*="col-"] {
    padding: 1rem;
}
